{% extends "html.html.twig" %}

{% block page %}
  <div class="layout-container">
    <main role="main">
      <div class="layout-content">
        {% block content %}{% endblock %}
      </div>
    </main>

  </div>{# /.layout-container #}
{% endblock %}