{% extends "templates/layout/page.html.twig" %}

{% block content %}
    <header>
        <h1>{{head_title}}</h1>
    </header>
    
    <ul>
        {% for value in benefits %}
            <li>{{ value }}</li>
        {% endfor %}
    </ul>
{% endblock %}